.weather{
    place-self: center;
    padding: 40px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #476cc7, #01040C);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    size: 90px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer; 
}
.weather-icon{
    width: 170px;
    margin: 40px 0px 10px 25px;
}
.temp{
    color: #fff;
    font-size: 60px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}